:root {
  --primary-color: rgba(70, 147, 200, 1);
  --secondary-color: rgba(158, 77, 144, 1);
  --primary-blur: rgba(70, 147, 200, 0.8);
  --secondary-blur: rgba(158, 77, 144, 0.8);
  --dark-base: #2d2d2d;
  --glass-base: rgba(255, 255, 255, 0.25);
  --glass-blur: rgba(255, 255, 255, 0.18);
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-lg: 1rem;
  --gap-xl: 1.25rem;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom left,
    var(--secondary-blur),
    var(--primary-blur)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  width: 350px;
  margin: var(--gap-lg) auto;
  border: 1px solid var(--glass-blur);
}

h1.app-header {
  font-size: 1.5rem;
  text-shadow:  0 0 1px #f2f2f2;
}

/* Wrapper for glassmorph - styling */
.app-wrapper {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(20px);
  border-radius: var(--gap-xs);
  border: 1px solid var(--glass-blur);
  text-align: center;
  margin: var(--gap-xl) auto;
  padding: var(--gap-sm) var(--gap-lg);
  -webkit-backdrop-filter: blur(20px);
  max-width: 600px;
}

/* Applied to all child elements inside the glass */
.todo-element {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(20px);
  border: 1px solid var(--glass-blur);
  padding: var(--gap-sm) var(--gap-lg);
  border-radius: var(--gap-xs);
  margin: var(--gap-sm) auto;
  transition: all 0.25s;
}

.todo-element:hover,
.todo-element:focus,
.todo-button:active {
  background: rgba(255, 255, 255, 0.55);
}

.todo-element:focus {
  outline: none;
}

/* App header stylings */
.todo-header {
  width: 350px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.todo-input {
  font-size: 1rem;
}

.todo-button {
  cursor: pointer;
}

/* Todo - list styling */
.todo-list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 350px;
}

.todo-list-element {
  min-height: 1rem;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todo-list-element-title {
  max-width: 275px;
  break-after: always;
}

.todo-list-element-done {
  opacity: 0.7;
}

.todo-list-element-done > p {
  text-decoration: line-through;
}

.todo-list-element-icon {
  cursor: pointer;
  margin-left: var(--gap-sm);
}
